---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
const locals = Astro.locals;

if (!locals.pb.authStore.isValid) {
  return Astro.redirect("/login");
}
---

<Layout title='Welcome to Astro.'>
  <main class='container mx-auto mt-8'>
    <h1 class='text-3xl text-center text-orange-400 mb-4'>
      Pocketbase | Astro authentication
    </h1>
    <p class='text-center mb-4'>Experimentell: Astro-Aktionen</p>

    <p class='text-center'>{locals.test}</p>
    <h1></h1>
  </main>
</Layout>
